
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
}
/* estilos del nav lateral*/
#fp-nav ul li a span, .fp-slidesNav ul li a span {
   
    background: #92695D;
   
}
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
   
    color: #a1513d;
    font-size: 20px;
}
/* estilos del nav*/
.nav{
    position: fixed;
    display: flex;
   justify-content: flex-end;
    z-index: 70;
    width: 100%;
   padding: 10px;
   background-color: rgba(255, 255, 255, 0.849);
}
.nav-car,
.nav-search {
  margin-left: 120px; 
  margin-right: 40px;
}
.nav-car{
display: flex;

}
.nav-car p,
.nav-search input {
  margin-right: 5px;
  color: #92695D; 
  font-size: large;
  
}
.seach-input{
    border: none;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    background: rgba(235, 231, 231, 0.355);
    
}

.seach-input::placeholder{
    color: #92695D;
    text-align: center;
}
/* estilos del  las secciones del main*/
.section{
    background-size: cover;
    background-position: center;
}
.initial{
    background-image: url("https://images.unsplash.com/photo-1568205612837-017257d2310a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1780&q=80");
    
}
.section-aboutme{
    float: left;
    width: 30%;
    padding: 20px; 
    height: 100%;
    text-align: justify;
    box-sizing: border-box;
  
  
}
